<div id="coursesTitle">
	<h3 class="flexi120"><%= I18n.t("teaching.courses.title") %></h3>
</div>

<% if session[:locale].to_s == "de" %>
	<% link_to_course = "http://www.palazzoricci.com/veranstaltungen/kammermusikwoche-2012/"%>
<% else %>
	<% link_to_course = "http://www.palazzoricci.com/en/events/chamber-music-week-2012/"%>
<% end %>

<div class="coursesFields"
	 title="<%= I18n.t('teaching.courses.click') %>"
	 onclick='window.open("<%= link_to_course %>", "_blank")'>

	<%= image_tag("/images/teaching/courses/montepulciano_2012.jpg",
						  :class => "course_link",
						  :title => I18n.t("teaching.courses.click"),
						  #:size => "450x330",
						  :alt => "Palazzo Ricci, Chamber Music Week 2012") %>
						
						
	<div class="course_description">
	<a href="<%= link_to_course %>"
	   target="blank">
		<p class="flexi100"><b><%= I18n.t("teaching.courses.title5") %></b><br />
		  	<%= I18n.t("teaching.courses.date5") %></p><br />
	</a>
	<%= I18n.t("teaching.courses.description5") %>
											
	</div>
</div>

<% if session[:locale].to_s == "de" %>
	<% link_to_course = "http://www.musikinbayern.de/Kurse-c698/International-Summer-Academy-for-Young-Artists-e29342.php"%>
<% else %>
	<% link_to_course = "http://www.musikinbayern.de/International-Summer-Academy-for-Young-Artists-c437034/International-Summer-Academy-for-Young-Artists-e437188.php"%>
<% end %>

<div class="coursesFields"
	 title="<%= I18n.t('teaching.courses.click') %>"
	 onclick='window.open("<%= link_to_course %>", "_blank")'>

	<%= image_tag("/images/teaching/courses/marktoberdorf_2012.jpg",
						  :class => "course_link",
						  :title => I18n.t("teaching.courses.click"),
						  #:size => "450x330",
						  :alt => "Bayerische Musikakademie Marktoberdorf") %>
						
						
	<%#= link_to(image_tag("/images/teaching/courses/marktoberdorf_2012.jpg",
						  :class => "course_link",
						  :title => I18n.t("teaching.courses.click"),
						  #:size => "450x330",
						  :alt => "Bayerische Musikakademie Marktoberdorf"),
						  link_to_course,
						  {:target => "_blank"})%>

	<div class="course_description">
	<a href="<%= link_to_course %>"
	   target="blank">
		<p class="flexi100"><b><%= I18n.t("teaching.courses.title4") %></b><br />
		  	<%= I18n.t("teaching.courses.date4") %></p><br />
	</a>
	<%= I18n.t("teaching.courses.description4") %>
											
	</div>
</div>