<style>
body{
background-color: #242434;
}
.login_links, .login_links:link, .login_links:visited, .login_link{
color: #ffffff;
}
.login_links:hover{
color: #999999;
}
</style>
<div id="teachingIndex">
						
	<div id="teachingIndexText">
		<div>
			<%= I18n.t("teaching.index.text") %>
			<h2 class="flexi100">NEWS<br />Oleksiy Shadrin wins 1st prize in 4th International Mykola Lysenko competition,<br />Vashti Hunter prize winner in Prague,<br />Laura van der Heijden BBC Young Musician 2012</h2>
			<img src="/images/teaching/news-oleksiy.jpg" />
			<p class="flexi80">Oleksiy (19) studies with Leonid in Hanover, currently in his 3rd year as an undergraduate student. He took 1st prize at the <%= link_to "4th Mykola Lysenko International Music Competition", "http://www.competition.com.ua/eng/index.php" %> in November 2012, performing Dvorak Cello Concerto in the final round. He also won the Special Prize for the best performance of a piece by Mykola Lysenko. <br />
				He has been invited to play in France, both for a solo recital and Elgar concerto and to perform Prokofiev Sinfonia Concertante in his home country Ukraine.
			</p><br />
			<img src="/images/teaching/news-vashti.jpg" />
			<p class="flexi80">Vashti, who is currently studying on the 'Soloklasse' course in Hannover with Leonid Gorokhov, has recently returned from Prague, where she was the first British cellist to be awarded a prize at the <%= link_to "65th International 'Prague Spring' Cello Competition", "http://www.festival.cz/en/competition", :target => "_blank" %>, May 2012. 
She was awarded 3rd prize after playing Dvorak Cello Concerto with the Pilsen Philharmonic, conducted by Koji Kawamoto in the Rodolfnium Hall, Prague.<br /> 
Vashti also won 1st prize at the <%= link_to "6th International Joseph Joachim Chamber Music Competition", "http://www.hfm-weimar.de/v1/veranstaltungen/wettbewerbe/kammermusikwettbewerb/2012/seite.php?lang=en" %>, with her piano trio, Trio Gaspard in November 2012 (also studying in Hannover). They also won the Special award for the best interpretation of the contemporary work. In May 2012, Trio Gaspard took 1st prize at the <%= link_to "5th International 'Joseph Haydn' Chamber Music Competition in Vienna", "http://www.mdw.ac.at/haydn_competition/en/", :target => "_blank" %>. Additionally, they won a special prize for the best interpretation of a work by Haydn. 
			</p><br />
			<img src="/images/teaching/news-laura.jpg" />
			<p class="flexi80">Laura (15) who has been learning with Leonid since 2008, was awarded the title of BBC Young Musician 2012, performing Walton’s Cello Concerto with Kirill Karabits and the Northern Sinfonia at The Sage, Gateshead.<br />
				Following her success she has been invited to play with orchestras including the Royal Philharmonic and London Mozart Players, in venues such as the Royal Festival Hall and Cadogan Hall in London.
			</p>
		</div>
		<!-- <div style="clear: both;">
					<p class="flexi80"><b>
					<%#= link_to "Hochschule für Musik und Theater", "http://www.hmt-hannover.de/de/hochschule/lehrende/e-h/prof-leonid-gorokhov/", 
						:target => "blank" %>
					</b></p>
					<p class="flexi80">Prof. Leonid Gorokhov</p>
					<p class="flexi80">Emmichplatz 1</p>
					<p class="flexi80">30175 Hannover</p>
					<p class="flexi80"><%#= I18n.t("teaching.contact.germany")%></p>
					<p class="flexi80">Email: <%#= mail_to "leonid.gorokhov@hmt-hannover.de", "Prof. Leonid Gorokhov" %></p>
					
				</div> -->
	</div>

</div>
