  	<div id="content_text">
  
  	  <h3 class="flexi120"><%= article.publisher %></h3>
		<p class="flexi50">
		<% unless article.author.blank? -%>by <%= article.author -%><% end -%><% unless article.author.blank? || article.publish_date.blank? -%>, <% end -%>
		<% unless article.publish_date.blank? -%><%= article.publish_date.to_date.to_formatted_s(:rfc822) -%><% end -%>
		</p>
  	  
  	  <p class="flexi80"><b><%= article.artists %><%= ", " unless article.venue.blank? %><%= article.venue %></b></p>
  	  
  	  <div id="articleContent">
  	  	<%= article.content %>
  	  </div>
  	</div>
