<table class="performingFields">
	<tr> <!-- this row important, otherwise imgs not resizable -->
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="2">	
			<img src="/images/playing/index/2010_1.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="6"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text1") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_5.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="3">	
			<img src="/images/playing/index/2010_2.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="5"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text3") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2009_12_20b.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="2">	
			<img src="/images/playing/index/2009_12_20.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="6"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text2") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_10.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="3">	
			<img src="/images/playing/index/2010_8.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="5"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text4") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_6.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="3"
			style="vertical-align:middle; font-style:normal;">	
			<img src="/images/playing/index/marti_fr.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Hans Jakob Marti" />
		</td>
		<td colspan="7">	
			<p class="flexi100"
			   style="padding-left:5%;">
				<%= I18n.t('playing.index.title_marti') %>
			</p><br />
			<div style="padding-left:5%;">
			<%= I18n.t("playing.index.bio_marti") %>
			</div>
		</td>
	</tr>
</table>

<!-- <div id="content_container">
	<div id="content">
<p class="flexi80"><b><em>The London Mozart Trio<br />The Red Hedgehog, London<br />25 April 2009</em></b><br /><br />
The highly-charged, dynamic and exhilarating London Mozart Trio brings together an Englishman, a Pole and a Russian who became a British citizen in 1998. It links teachers at the Royal Academy of Music, the Royal College of Music and the Purcell and Guildhall Schools while – perhaps owing to its combination of Anglo-Saxon self-possession and Slavic fire – producing a fascinating, red-blooded sound, warmly full and robust.<br />
Colin Stone puts the dynamic of his pellucid style at the service of his coolly Romantic sensibility. He plays with astonishing and commanding versatility. Krzysztof Śmietana coaxes his violin into making ravishing, lyrical sounds – rich and sweet-toned. In its upper register, his violin is dulcet, mellow, soaring and beguiling; in its lower register I heard the richness of a viola. Leonid Gorokhov plays his cello with solid, utterly reliable proficiency – a craftsman who seems to draw sound from the earth itself. Together, they generate the full, weighty sound of a miniature orchestra. In their hands, piano trios are monuments to reckon with.</p>
<p class="flexi80">The performances were of superb quality. The ‘Archduke’ was impassioned and magisterial. It had tremendous energy and drive; it had variety and subtlety – a glistening beauty, too. Beethoven, here, was dynamic and mercurial – vital and lithe. Tempos were finely-judged – forward-moving and restless, yet with time and space to sing. This is, surely, one of Beethoven’s most joyous works.
The Trio Élégaique was simple, eloquent and beautiful. In this work Rachmaninov, though still a student, showed already his power over sensuous and sensual melody – the mood of this single movement work is out-and-out Romantic, while the writing is careful and controlled. The Trio begins and ends with the same gorgeous, lyrical melody being handed from one instrument to the other, giving each player a solo spot to demonstrate his mettle. Stone, Śmietana and Gorokhov rose to the occasion.</p>
<p class="flexi80">The Mendelssohn Trio begins unexpectedly – a composer loved and renowned for exuberance and lightness of touch plunging into Sturm und Drang. The London Mozart Trio bit into this restless and darkly troubled side to Mendelssohn’s nature with searing zest. Some of the playing was suitably rough and tough. The ensuing scherzo and slow movement, though less fraught, were still disturbing. The finale is elegant and light, yet pointed and serious. Stone, Śmietana and Gorokhov caught the mood neatly, responding attentively to the various styles and yet presenting this original and at times disturbing work as a compositional unity.</p>
The Red Hedgehog was packed, giving an electric buzz to this intimate venue. Investigating the acoustics, I chose to sit at the front, right by the cello, facing, on occasion, the full thunder of the piano. The balance was nevertheless admirable, the sound full and immediate.<br /><br />

<p class="flexi80"><b><em>Hermitage Trio, Nikolai Demidenko<br />Congregational Hall, Nottingham<br />
21 January 2009</em></b><br /><br />
String players from Russia are no longer the solemn figures of old. Violinist Boris Garlitzky, who currently leads the London Philharmonic, could afford to smile at his colleagues over a particularly choice passage in the Austro-German classics they were playing.<br />
None choicer than the Andante theme in Brahms's Piano Quartet in C minor, opus 60. This great song without words is thought to reflect an unspoken love. It was gorgeously phrased by cellist Leonid Gorokhov, discreetly partnered by Nikolai Demidenko at the piano.<br />
When, towards the end of the movement, viola player Alexander Zemtsov returned to "Clara's theme", it sounded more subdued but just as beautiful.<br />
Dramatic and moody, Brahms's piece as a whole was in excellent hands. The atmospheric opening drew us under his spell. Measures which can seem forced and strained were made to flow.<br />
Effortless music-making – Brahms always admired it – was Franz Schubert's hallmark. His early Adagio and Rondo Concertante, D.487, shimmered and dazzled. And Beethoven's C minor Trio, opus 9, offered a rhythmic preview of string quartets from that source.<br /></p>

<p class="flexi80"><b><em>Judith Ingolfsson, Leonid Gorokhov und Vladimir Stoupel<br />Il Roma (Italien) 19 Feb 2006 (Deutsch von Tanja Felder)</em></b><br /><br />
Mit diesem Programm von überwältigender emotionaler Intensität gelang es dem Trio mit Judith Ingolfsson (Geige), Leonid Gorokhov (Cello) und Vladimir Stoupel (Klavier), das Publikum des "Cafaro"-Theaters in Latina zu erobern. Der volle, meisterhaft zwischen den Instrumenten ausbalancierte, Klang, die energiegeladene Stimmung, welche die dramatische Kraft der Stücke zu unterstreichen vermochte, die musikalische Inbrunst, die die drei zeigten, ließen das Publikum die beschwerliche Sprache und Monumentalität dieser beiden Werke vergessen.<br />
Vladimir Stoupel ist ein Pianist, der besonders behutsam mit der Qualität des Klanges umgeht. Mit äußerster Natürlichkeit gelang es ihm, dem "piano" eine gehauchte, gleichwohl immer genau definierte, Klangfülle und dem "forte", ohne jemals aufdringlich zu wirken, extrem intensive und an der robusten russischen Form reiche Klänge zu entlocken. Auch die Streicher waren brillant (die Vorstellung von Judith Ingolfsson gab absolut keinen Anlass, die Abwesenheit von Mark Peskanov, für den sie eingesprungen war, zu bedauern), deren expressive Kraft in den letzten dreizehn Takten des "Lugubre" (unheilvoll) von Tschaikowskys Trio gipfelte, wo es ihnen unter der Angabe "Piangendo" (klagend) meisterhaft gelang, dem verzweifelten Flehen zu Beginn des Hauptthemas Ausdruck zu verleihen.<br /></p>

<p class="flexi80"><b><em>Arkadi Zenzipér, Annette Unger und Leonid Gorokhov<br />Schubertiade Schnackenburg<br />Elbe-Jeetzel-Zeitung, 21 Sep 2005</em></b><br /><br />
Der große Kammermusikabend der Schubertiaden am Sonnabend war ein Musikereignis höchster Qualität. Bis auf ein Werk des russischen Komponisten Glinka wurde die Musik von Schubert zelebriert. (…) Höhepunkt des Abends in der St. Nikolaikirche war das » Trio für Klavier, Violine und Violoncello B-Dur op.99 « von Schubert mit Arkadi Zenzipér, Annette Unger und Leonid Gorokhov . Gemeinsam bilden diese drei Künstler das musikalische Herz der Schubertiaden . Annette Unger lässt ihr warmes, kräftiges Spiel aus tiefer Sammlung und Ruhe aufsteigen, die sie auch in virtuosesten Forte-Passagen nicht verliert. Das vielfarbige, Energie geladene und so ausdifferenzierte Spiel des genialen Leonid Gorokhov und der meisterliche Klavierpart von Arkadi Zenzipér fügten sich zu einem tief bewegenden Musikerlebnis. (…) Erst um Mitternacht verließ das beglückte Publikum die Kirche.<br /></p>

<p class="flexi80"><b><em>Leonid Gorokhov & Colin Stone<br />Victoria Rooms, Bristol<br />14th March 2001</em></b><br /><br />
High praise for the great cellist Leonid Gorokhov & his colleague Collin Stone from The Royal Academy of Music who played Schumann and Brahms and 2 encores (which they have recorded for Olympia ) at a magnificent lunchtime concert, today. Mr. Gorokhov is one of the greatest Cellists of his generation. He has now been granted British citizenship, and lives in London. He conjures many magnificent sounds and colours from his cello, a turn of the Century Celeste Farotti, and all in all the Russian Cello School of A. Nikitin and St. Petersburg must be proud to be represented so highly by Mr. Gorokhov.</p>

	</div>
</div>
 <div id="scroller">
	<img id="scroll_up"
		 src="/images/playing/arrow_up.png" 
		 alt="scroll up" 
		 onmouseover="leonid.scrollText.move(1,-2,20,1)" 
		 onmouseout="leonid.scrollText.move(0)" />
	<img id="scroll_down"
		 src="/images/playing/arrow_down.png" 
	 	 alt="scroll down" 
		 onmouseover="leonid.scrollText.move(1,2,20,1)" 
		 onmouseout="leonid.scrollText.move(0)" />
</div> -->

