<table class="performingFields">
	<tr> <!-- this row important, otherwise imgs not resizable -->
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>                                
		<td class="performingFieldsFirstRow">
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="2">	
			<img src="/images/playing/index/2010_1.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="6"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text1") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_5.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="3">	
			<img src="/images/playing/index/2010_2.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="5"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text3") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2009_12_20b.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="2">	
			<img src="/images/playing/index/2009_12_20.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="6"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text2") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_10.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="3">	
			<img src="/images/playing/index/2010_8.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
		<td colspan="5"
			class="flexi80">
			<div style="padding:0% 4%;">
			<%= I18n.t("playing.index.img_text4") %>
			</div>
		</td>
		<td colspan="2">	
			<img src="/images/playing/index/2010_6.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Biel, with Gérard Wyss" />
		</td>
	</tr>
	<tr class="performingFieldsNotFirstRow">
		<td colspan="2"
			style="vertical-align:middle; font-style:normal;">	
			<img src="/images/playing/index/marti_fr.jpg"
			     class="performingFieldsImg"
		 		 title="<%= I18n.t('playing.index.marti_img_title') %>"
		 		 alt="Hans Jakob Marti" />
		</td>
		<td colspan="8">	
			<p class="flexi100"
			   style="padding-left:5%;">
				<%= I18n.t('playing.index.title_marti') %>
			</p><br />
			<div style="padding-left:5%;">
			<%= I18n.t("playing.index.bio_marti") %>
			</div>
		</td>
	</tr>
</table>

